#include <behaviors/num_word.dtsi> // urob's num word from zkm auto layer
#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1800  // 600, 1200
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        mmv {
            acceleration-exponent = <2>;      // 1
            time-to-max-speed-ms = <40>;    // 40
            delay-ms = <0>;                   // 0
        };

        shiftnextcaps: shiftnextcaps {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&sk RIGHT_SHIFT>, <&kp CAPS>;

            label = "shiftnextcaps";
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <165>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <14 15 16 17 23 24 25 26>;
            require-prior-idle-ms = <20>;
        };

        sk_mo: sk_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "SK_MO";
            bindings = <&mo>, <&sk>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
        };

        sl_mo: sl_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "SL_MO";
            bindings = <&mo>, <&sl>;

            #binding-cells = <2>;
            tapping-term-ms = <160>;
            flavor = "tap-preferred";
        };

        num_word: num_word {
            compatible = "zmk,behavior-auto-layer";
            #binding-cells = <1>;
            continue-list = <BSPC DEL KP_DOT DOT COMMA KP_PLUS PLUS KP_MINUS MINUS KP_MULTIPLY STAR KP_DIVIDE FSLH EQUAL>;
            ignore-numbers;
        };

        smart_num: smart_num {
            compatible = "zmk,behavior-hold-tap";
            label = "SMART_NUM";
            bindings = <&mo>, <&num_word>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <43>;
        };

        sk_kp: sk_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "SK_KP";
            bindings = <&kp>, <&sk>;

            #binding-cells = <2>;
            tapping-term-ms = <160>;
            flavor = "balanced";
            hold-trigger-key-positions = <28>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    combos {
        compatible = "zmk,combos";

        cmb_back {
            bindings = <&kp BACKSPACE>;
            key-positions = <23 24>;
        };

        cmb_del {
            bindings = <&kp DEL>;
            key-positions = <24 25>;
        };

        cmb_caps {
            bindings = <&kp CAPS>;
            key-positions = <31 32>;
            layers = <0>;
        };

        smartcaps {
            bindings = <&caps_word>;
            key-positions = <16 17>;
            layers = <0>;
        };

        togbase {
            bindings = <&tog 0>;
            key-positions = <44 45>;
        };

        togmncft {
            bindings = <&tog 6>;
            key-positions = <2 3 4>;
        };

        cb-terminal {
            bindings = <&kp RC(J)>;
            key-positions = <29 14>;
        };

        cb-find {
            bindings = <&kp LC(F)>;
            key-positions = <30 15>;
        };

        cb-find-g {
            bindings = <&kp LC(LS(F))>;
            key-positions = <16 31>;
        };

        cb-replace {
            bindings = <&kp LC(H)>;
            key-positions = <17 32>;
        };

        cb-replace-g {
            bindings = <&kp LC(LS(H))>;
            key-positions = <33 18>;
        };

        cb-project {
            bindings = <&kp LC(LS(E))>;
            key-positions = <14 1>;
        };

        cb-tool-bars {
            bindings = <&kp LC(LS(B))>;
            key-positions = <15 2>;
        };

        cb-run {
            bindings = <&kp LC(LS(U))>;
            key-positions = <16 3>;
        };

        cb-files {
            bindings = <&kp LC(E)>;
            key-positions = <4 17>;
        };

        cb-goto {
            bindings = <&kp LC(P)>;
            key-positions = <5 18>;
        };
    };

    macros {
        middledot: middledot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N8 &kp KP_N3>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MIDDLEDOT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "DEVALFE";
            bindings = <
&kp ESC         &kp Q  &kp W  &kp E           &kp R           &kp T                               &kp UP                &kp Y        &kp U        &kp I         &kp O       &kp P          &kp BACKSPACE
&kp TAB         &kp A  &kp S  &kp D           &kp F           &kp G                     &kp LEFT  &kp ENTER  &kp RIGHT  &kp H        &kp J        &kp K         &kp L       &kp SEMICOLON  &kp APOS
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C           &kp V           &kp B        &kp SPACE              &kp DOWN              &kp N        &kp M        &kp COMMA     &kp PERIOD  &kp SLASH      &kp RCTRL
                              &lt 2 LEFT_WIN  &smart_num 1 1  &lt 3 ENTER                                               &lt 5 SPACE  &lt 4 ENTER  &kp LEFT_ALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
            label = "DEVALFE";
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&to 0            &kp LC(BACKSPACE)         &kp BACKSPACE             &kp ESCAPE                 &kp DEL                       &kp LC(DELETE)                                     &mmv MOVE_UP                     &kp KP_PLUS      &kp N7      &kp N8          &kp N9  &kp EQUAL    &kp BACKSPACE
&a_acento        &sk_kp LEFT_WIN LEFT_WIN  &sk_kp LEFT_ALT LEFT_ALT  &sk_kp LCTRL LEFT_CONTROL  &sk_kp LEFT_SHIFT LEFT_SHIFT  &kp C_AL_CALCULATOR                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp KP_MINUS     &kp N4      &kp N5          &kp N6  &kp N0       &none
&accent_tap 0 A  &tog 1                    &tog 2                    &tog 3                     &tog 5                        &tog 6               &kp C_MUTE                    &mmv MOVE_DOWN                   &kp KP_MULTIPLY  &kp N1      &kp N2          &kp N3  &kp PERCENT  &kp KP_ENTER
                                                                     &none                      &to 0                         &kp SPACE                                                                           &kp KP_DIVIDE    &kp KP_DOT  &kp KP_NUMLOCK
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&to 0         &kp EXCLAMATION  &kp AT_SIGN       &kp HASH       &kp DOLLAR      &kp PERCENT                            &mmv MOVE_UP                     &kp AMPERSAND     &kp SLASH       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &middledot  &kp BACKSPACE
&out OUT_USB  &kp LEFT_WIN     &kp LEFT_ALT      &kp LCTRL      &kp LEFT_SHIFT  &mkp MB4               &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp EQUAL         &kp QUESTION    &kp CARET             &kp COMMA              &kp TILDE   &kp PIPE
&out OUT_BLE  &kp LESS_THAN    &kp GREATER_THAN  &kp PLUS       &kp ASTRK       &mkp MB5     &trans                    &mmv MOVE_DOWN                   &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE       &kp RIGHT_BRACKET      &kp GRAVE   &kp RET
                                                 &kp BACKSLASH  &to 0           &kp UNDER                                                               &kp UNDERSCORE    &kp MINUS       &kp BACKSLASH
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_3 {
            display-name = "NAV";
            bindings = <
&to 0  &kp F1          &kp F2        &kp F3          &kp F4           &kp F5                                   &mmv MOVE_UP                     &kp LC(Y)   &kp LC(C)  &kp UP         &kp LC(V)    &kp LC(Z)  &kp F11
&none  &none           &mkp LCLK     &mkp MCLK       &mkp RCLK        &mkp MB4                 &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LC(D)   &kp LEFT   &kp DOWN       &kp RIGHT    &kp LC(X)  &kp F12
&none  &msc SCRL_LEFT  &msc SCRL_UP  &msc SCRL_DOWN  &msc SCRL_RIGHT  &mkp MB5   &kp C_MUTE                    &mmv MOVE_DOWN                   &kp INSERT  &kp HOME   &kp PAGE_DOWN  &kp PAGE_UP  &kp END    &kp ENTER
                                     &kp LEFT_SHIFT  &to 0            &kp LCTRL                                                                 &mkp LCLK   &mkp RCLK  &mkp MCLK
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            label = "NAV";
        };

        layer_4 {
            bindings = <
&to 0       &rgb_ug RGB_HUD  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF                                &mmv MOVE_UP                     &kp PSCRN        &kp HOME         &kp END    &kp INSERT         &kp DELETE      &none
&bt BT_CLR  &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4                   &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp PAUSE_BREAK  &kp RIGHT_SHIFT  &kp RCTRL  &kp RIGHT_ALT      &kp RIGHT_WIN   &kp PG_UP
&none       &rgb_ug RGB_OFF  &rgb_ug RGB_ON   &rgb_ug RGB_SPI  &rgb_ug RGB_SPD  &rgb_ug RGB_EFR  &kp K_MUTE                    &mmv MOVE_DOWN                   &bootloader      &sys_reset       &soft_off  &ext_power EP_OFF  &bt BT_CLR_ALL  &kp PAGE_DOWN
                                              &kp DEL          &to 0            &kp BSPC                                                                        &none            &none            &none
            >;

            label = "BLTRGB";
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
        };

        layer_5 {
            bindings = <
&to 0  &kp F10  &kp F7  &kp F8     &kp F9  &kp PAUSE_BREAK                                &mmv MOVE_UP                     &hml GRAVE O  &none            &none       &none          &none          &none
&none  &kp F11  &kp F4  &kp F5     &kp F6  &kp PRINTSCREEN                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &none         &kp RIGHT_SHIFT  &kp RCTRL   &kp RIGHT_ALT  &kp RIGHT_WIN  &none
&none  &kp F12  &kp F1  &kp F2     &kp F3  &kp SCROLLLOCK   &kp C_MUTE                    &mmv MOVE_DOWN                   &none         &kp C_PP         &kp C_PREV  &kp C_NEXT     &none          &kp ENTER
                        &kp K_APP  &to 0   &kp TAB                                                                         &none         &kp K_APP        &none
            >;

            label = "FUN";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_6 {
            bindings = <
&kp ESC    &none   &kp E   &kp W   &kp F      &kp N1                              &mmv MOVE_UP                     &kp KP_NUMLOCK  &kp KP_NUMBER_7  &kp KP_N8  &kp KP_N9  &kp PRCNT   &none
&to 0      &kp L   &kp A   &kp S   &kp D      &kp N2              &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &mkp LCLK       &kp KP_N4        &kp KP_N5  &kp KP_N6  &none       &none
&kp LCTRL  &kp F1  &kp F2  &kp F3  &kp F4     &kp N3     &to 0                    &mmv MOVE_DOWN                   &mkp RCLK       &kp KP_N1        &kp KP_N2  &kp KP_N3  &kp KP_DOT  &kp KP_ENTER
                           &to 0   &kp LSHFT  &kp SPACE                                                            &mkp LCLK       &mkp RCLK        &kp KP_N0
            >;

            label = "MINECR";
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };
    };
};
